<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>Document</title>
    </head>
    <body>
        <form  action="{:url('upload/index/index')}" method="post" enctype="multipart/form-data">
            <div class="layui-form-item">
                <label class="layui-form-label">图片上传</label>
                <input type="file" class="files" name="files" id="files">
                <input type="submit" >
            </div>
        </form>
    </body>
</html>