<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>文章栏目分类</title>
    <link rel="stylesheet" type="text/css" href="__SYSCSS__/style.css" />
    <script type="text/javascript" src="__SYSJS__/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSJS__/jquery.artDialog.js?skin=blue"></script>
    <script type="text/javascript" src="__SYSJS__/my.js"></script>
    <script type="text/javascript" src="__JS__/vue.min.js" ></script>
    <script type="text/javascript" src="__JS__/layer/layer.js" ></script>
    <style>
        .pageTool{ text-align:center;}
        .pageTool ul{display:block; width:max-content; margin:0 auto;}
        .pageTool li{float:left; margin:0 10px;}
        #main_vue{display:none;}
    </style>
</head>
<body width="100%">
<div id="result" class="result none"></div>
<div class="mainbox" id="main_vue">
    <div id="nav" class="mainnav_title">
        <a  href="javascript:void(0);" >栏目列表</a>|
        <a  href="javascript:void(0);" v-on:click="add_cate" >添加栏目</a>
    </div>
    <div class="pad-lr-10">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="40">排序</th>
                        <th width="40">id</th>
                        <th>栏目名</th>
                        <th width="220">管理操作</th>
                    </tr>
                </thead>
                <tbody v-for="(cate,index) in cate_list" >
                    <tr>
                        <td width='40' align='center'>
                            <input type='text' size='3' v-model="cate.sequence" class='input-text-c' >
                            <input v-if="cate.sequence != cate.oldSequence" type="button" v-on:click="update_sequence(index)" class="button" style="margin:0;" value="保存">
                        </td>
                        <td align='center'>{{ cate.art_cate_id }}</td>
                        <td><span v-html="cate.tree"></span>{{ cate.cate_name }}</td>
                        <td align='center'>
                            <a href="javascript:void(0);" v-on:click="edit_cate(cate.art_cate_id)">编辑</a>
                            <a href="javascript:void(0);" v-on:click="del_cate(cate.art_cate_id)">删除</a>
                        </td>
                    </tr>
                </tbody>
            </table>

    </div>
</div>
</div>
<script>
    var vue_main = new Vue({
        el: '#main_vue',
        data:{
            'cate_list' : [],
        },
        mounted:function(){
            var that = this;
            that.get_cate_list();
            $('#main_vue').show();
        },
        methods:{
            get_cate_list:function(){
                var that = this;
                $.ajax({
                    url: "{:url('Articlecate/get_cate_list')}?v="+Math.random(),
                    type: 'get',
                    dataType: 'json',
                    success:function (data) {
                        if(data.status){
                            //区分层级
                            that.set_tree(data.info);
                        }else{
                            layer.msg(data.msg, {
                                skin: 'layui-layer-huise'
                            });
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误数据拉取失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            set_tree:function(cate_list){
                var that = this;
                var nbsp = '';
                for( var i = 0; i < cate_list.length; i++ ){
                    cate_list[i].oldSequence = cate_list[i].sequence;
                    cate_list[i].tree = '';
                    nbsp = '';
                    if( cate_list[i].pNum > 0 ){
                        cate_list[i].tree += '├';
                        for( var t = 0; t < cate_list[i].pNum; t++ ){
                            nbsp += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                            cate_list[i].tree += '─';
                        }
                        cate_list[i].tree = nbsp+cate_list[i].tree;
                    }
                }
                that.cate_list = cate_list;
            },
            update_sequence:function(index){
                var that = this;
                if( isNaN(that.cate_list[index].sequence) ){
                    layer.msg('排序必须是数字', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }
                if(!confirm('是否确认修改')){
                    return false;
                }
                $.ajax({
                    url: "{:url('Articlecate/update_sequence')}",
                    type: 'post',
                    dataType: 'json',
                    data:that.cate_list[index],
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        that.get_cate_list();
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        that.get_cate_list();
                        return false;
                    }
                });
            },
            del_cate:function(cate_id){
                if(!confirm('是否确认删除')){
                    return false;
                }
                var that = this;
                $.ajax({
                    url: "{:url('Articlecate/del_cate')}",
                    type: 'post',
                    dataType: 'json',
                    data:{ id:cate_id },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if(data.status){
                            that.get_cate_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            add_cate:function(){
                layer.open({
                    title:'添加栏目',
                    type:2,
                    closeBtn:1,
                    area:['50%','50%'],
                    content: "{:url('Articlecate/add')}"
                })
            },
            edit_cate:function(cate_id){
                var toUrl = "{:url('Articlecate/edit',['id'=>'art_cate_id'])}";
                toUrl = toUrl.replace('art_cate_id',cate_id);
                layer.open({
                    title:'编辑栏目',
                    type:2,
                    closeBtn:1,
                    area:['50%','50%'],
                    content:toUrl
                })
            },
        }
    });

    //关闭所有二级窗口
    function clearWin(){
        vue_main.get_cate_list();
        layer.closeAll();
    }
</script>
</body>
</html>