<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>商品管理</title>
    <link rel="stylesheet" type="text/css" href="__SYSCSS__/style.css" />
    <script type="text/javascript" src="__SYSJS__/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSJS__/jquery.artDialog.js?skin=blue"></script>
    <script type="text/javascript" src="__SYSJS__/my.js"></script>
    <script type="text/javascript" src="__JS__/vue.min.js" ></script>
    <script type="text/javascript" src="__JS__/layer/layer.js" ></script>
    <script type="text/javascript" src="__JS__/laydate/laydate.js"></script>
    <!--图片上传资源文件-->
    <script type="text/javascript" src="__UPLOAD__/plupload.full.min.js"></script>
    <script type="text/javascript" src="__UPLOAD__/upload.js"></script>
    <link rel="stylesheet" href="__UPLOAD__/css/plupload.css">
    <!--副文本资源文件-->
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/plugin.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <style>
        .pageTool{ text-align:center;}
        .pageTool ul{display:block; width:max-content; margin:0 auto;}
        .pageTool li{float:left; margin:0 10px;}
        #goods_info i{color:#FB0000;}
        #main_vue{display:none;}
        #sku-box th,#sku-box td{text-align:center; padding:0 10px; border:1px solid #ccc;}
    </style>
</head>
<body width="100%">
<div id="result" class="result none"></div>
<div class="mainbox" id="main_vue" >
    <div class="mainnav_title">
        <input type="button" class="button" v-on:click="parent.window.clearWin();" value="返回" />
    </div>
    <div class="table-list">
        <table cellpadding=0 cellspacing=0 width="100%" class="table_form" id="goods_info" >
            <tr>
                <th width="140" ><i>*</i>商品名：</th>
                <td><input type="text" class="input-text" style="width:320px;" name="goods_name"  v-model="goods_name" /></td>
                <td rowspan="5" >
                    <div id="upload_main" >
                        <div class="upload_box" style="width:360px; height:250px;">
                            <input type="hidden" id="images" v-model="goods_image" class="hid-val-box" readonly />
                            <div class="upload-title"><i>*</i>商品列表图片</div>
                            <div class="upload-tips"><span>宽</span> <span>*</span><span>高</span></div>
                            <div class="upload-view" id="images_img" style="height:200px;" >
                                <img v-bind:src="goods_image" alt="" onerror="this.src='__UPLOAD__/images/upload_add.png'" >
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
            <tr>
                <th width="140" >商品描述：</th>
                <td>
                    <textarea style="width:320px; height:100px; resize:none" v-model="goods_desc" ></textarea>
                </td>
            </tr>
            <tr>
                <th width="140" >商品SEO描述（description）：</th>
                <td>
                    <textarea style="width:320px; height:100px; resize:none"  v-model ="goods_seo_desc" ></textarea>
                </td>
            </tr>
            <tr>
                <th width="140" >文章SEO关键词（keyword）：</th>
                <td>
                    <textarea style="width:320px; height:100px; resize:none"  v-model ="goods_seo_keyword" ></textarea>
                </td>
            </tr>
            <tr>
                <th width="140">是否推荐：</th>
                <td colspan="2" >
                    是 <input type="radio" class="input-text" v-model="recommend" value="1" />
                    否 <input type="radio" class="input-text" v-model="recommend" value="0" />
                </td>
            </tr>
            <tr>
                <th width="140">排序：</th>
                <td  colspan="2" ><input type="text" class="input-text" name="sequence" v-model="sequence" /></td>
            </tr>
            <tr>
                <th width="140"><i>*</i>商品分类：</th>
                <td colspan="2" >
                    <select name="cate_id" v-model="cate_id" v-on:change="get_prop_tab" >
                        <option value="0">请选择</option>
                        <option v-for="(cate,index) in cate_list" v-bind:value="cate.cate_id" v-html="cate.cate_name"></option>
                    </select>
                </td>
            </tr>
            <tr v-if="prop_tab.length > 0 " >
                <th width="140">销售属性选择：</th>
                <td colspan="2" >
                    <table>
                        <tr v-for="(prop,p_index) in prop_tab" v-if=" prop.child.length > 0 " >
                            <td>{{ prop.prop_name }}：</td>
                            <td><span v-for="(prop_val,pv_index) in prop.child" ><input type="checkbox" v-model="prop_val.changed" v-on:change="change_prop" />{{ prop_val.value }}</span></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr v-if="sku_show" >
                <th width="140" >商品sku设置：</th>
                <td>
                    <table id="sku-box">
                        <thead>
                            <tr>
                                <th v-for="(prop,p_index) in prop_tab" v-if="prop.changed" >{{ prop.prop_name }}</th>
                                <th>价格</th>
                                <th>货号</th>
                                <th>备注</th>
                                <th>商品sku图片</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(sku,s_index) in sku_tab" >
                                <td v-for="(val,v_index) in sku.value">{{ val }}</td>
                                <!--<td><input type="text" v-model="item.stock" /></td>-->
                                <td>¥ <input type="text"  placeholder="价格" /></td>
                                <td><input type="text"  placeholder="货号" /></td>
                                <td><input type="text"  placeholder="备注信息" /></td>
                                <td>
                                    <img style="width:120px; height:120px;" v-bind:class="'sku_'+s_index" v-bind:src="sku.item_image" alt="" onerror="this.src='__UPLOAD__/images/upload_add.png'" >
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <th width="140"><i>*</i>基本价格：</th>
                <td  colspan="2" ><input type="text" class="input-text" v-model="goods_price"/> <span style="color:#FB0000;">( 若没有设置SKU 该价格即为售价 )</span></td>
            </tr>
            <tr>
                <th width="140">货号：</th>
                <td  colspan="2" ><input type="text" class="input-text" v-model="goods_number" /></td>
            </tr>
            <tr>
                <th width="140" >商品详情：</th>
                <td colspan="2">
                    <div><a href="javascript:void(0);">PC端</a><a href="javascript:void(0);">移动端</a></div>
                    <div id="content" style="width:90%; height:400px;"></div>
                </td>
            </tr>
            <tr>
                <th width="140" >包装信息：</th>
                <td colspan="2" >
                    <textarea style="width:320px; height:100px; resize:none" ></textarea>
                </td>
            </tr>
            <tr>
                <th width="140" >售后信息：</th>
                <td colspan="2" >
                    <textarea style="width:320px; height:100px; resize:none" ></textarea>
                </td>
            </tr>
            <tr>
                <th width="140"></th>
                <td colspan="2" style="color:#FB5A5C;" >注意：添加后默认 下架 且为 未审核状态</td>
            </tr>
        </table>
        <div class="btn" >
            <input TYPE="button"  value="添加" class="button" v-on:click="add_submit" />
            <input TYPE="button"  value="返回" class="button" onclick="parent.window.clearWin();" />
        </div>
    </div>
</div>
<script>
    var ue = UE.getEditor('content');
    //获取文章内容内容
    function getContents() {
        var html = '';
        ue.ready(function () {
            html = ue.getContent();
        });
        return html;
    }

    var vue_main = new Vue({
        el: '#main_vue',
        data:{
            'goods_name' : '',
            'goods_image' : '',
            'goods_desc' : '',
            'goods_seo_desc' : '',
            'goods_seo_keyword' : '',
            'recommend' : 0,
            'sequence' : 0,
            'cate_id' : 0,
            'goods_price' : '',
            'goods_number' : '',
            'readgroup' : 0,
            'pc_content' : '',
            'wap_content' : '',
            'cate_list' : [],
            'prop_tab' : [],
            'sku_show' : false,
            'sku_tab' : []
        },
        mounted:function(){
            var that = this;
            that.get_cate_list();
            $('#main_vue').show();
            //图片上传配置
            $("#images").WebUpload(
                'goods',
                function(respond){
                    if( respond.status == '1' ){
                        that.goods_image = respond.info.file;
                    }else {
                        layer.msg('网络错误，图片上传失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                },
                function(errors) {
                    if( errors.code == -600 ){
                        alert('图片最大2M');
                    }
                });
            $('#images_img').click(function() {
                $('#images').click();
            });
        },
        methods: {
            get_cate_list:function(){
                var that = this;
                $.ajax({
                    url: "{:url('Goodscate/get_cate_list')}?v="+Math.random(),
                    type: 'get',
                    dataType: 'json',
                    success:function (data) {
                        if(data.status){
                            //区分层级
                            that.set_tree(data.info);
                        }else{
                            layer.msg(data.msg, {
                                skin: 'layui-layer-huise'
                            });
                            return false;
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误数据拉取失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            set_tree:function(cate_list){
                var that = this;
                var nbsp = '';
                for( var i = 0; i < cate_list.length; i++ ){
                    cate_list[i].oldSequence = cate_list[i].sequence;
                    cate_list[i].tree = '';
                    nbsp = '';
                    if( cate_list[i].pNum > 0 ){
                        cate_list[i].tree += '├';
                        for( var t = 0; t < cate_list[i].pNum; t++ ){
                            nbsp += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                            cate_list[i].tree += '─';
                        }
                        cate_list[i].tree = nbsp+cate_list[i].tree;
                        cate_list[i].cate_name = cate_list[i].tree+cate_list[i].cate_name;
                    }
                }
                that.cate_list = cate_list;
            },
            get_prop_tab:function(){
                var that = this;
                that.sku_tab = [];
                that.sku_show = false;
                $.ajax({
                    url: "{:url('Goods/get_cate_prop_tab')}",
                    type: 'post',
                    dataType: 'json',
                    data:{ cate_id: that.cate_id },
                    success:function (data) {
                        if(data.status){
                            that.prop_tab = data.info;
                        }else{
                            layer.msg(data.msg, {
                                skin: 'layui-layer-huise'
                            });
                            return false;
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误数据拉取失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            change_prop:function(){
                var that = this;
                that.sku_tab = [];
                that.sku_show = false;
                var status = false;
                for( var p = 0; p < that.prop_tab.length; p++ ){
                    status = false;
                    if( that.prop_tab[p].child.length > 0 ){
                        for( var v = 0; v < that.prop_tab[p].child.length; v++ ){
                            if( that.prop_tab[p].child[v].changed ){
                                status = true;
                                that.sku_show = true;
                            }
                        }
                    }
                    that.prop_tab[p].changed = status;
                }
                that.set_goods_sku();
            },
            set_goods_sku:function(){
                var that = this;
                var propList = that.prop_tab;
                var propSize = propList.length;
                var table_cols = [];
                var table_rows = [];
                //配置列元素
                for( var p = 0; p < propSize; p++ ){
                    if( propList[p].changed ){
                        table_rows = [];
                        for( var v = 0; v < propList[p].child.length; v++ ){
                            if( propList[p].child[v].changed ){
                                table_rows.push(propList[p].child[v]);
                            }
                        }
                        table_cols.push(table_rows);
                    }
                }
                //配置行元素
                var _row = typeof(table_cols[0]) == "undefined" ? [] : table_cols[0];
                //定义sku属性信息
                if( table_cols.length > 1 ){
                    for( var c = 1; c < table_cols.length; c++ ){
                        _row = that.group_array(_row,table_cols[c]);
                    }
                }
                //整理配置sku信息
                var all_row = [];
                if( _row.length > 0 ){
                    for( var r = 0; r < _row.length; r++ ){
                        all_row.push({
                            'value' : _row[r].value.split(','),
                            'prop_val_id' : _row[r].prop_val_id.toString().split(','),
                            'price' : '0.00',
                            'item_number' : '',
                            'remark' : '',
                            'item_image' : ''
                        });
                    }
                }
                that.sku_tab = all_row;
            },
            group_array:function(first,second){
                var reset_arr = [];
                for(var i = 0, f_size = first.length; i < f_size; i++) {
                    for(var j = 0, s_size = second.length; j < s_size; j++) {
                        reset_arr.push({
                            'value': first[i].value + "," + second[j].value,
                            'prop_val_id': first[i].prop_val_id + "," + second[j].prop_val_id,
                        });
                    }
                }
                return reset_arr
            },
            add_submit:function(){
                var that = this;
                if( that.goods_name == '' ){
                    layer.msg('商品名必填', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }

                if( that.goods_image == '' ){
                    layer.msg('商品列表图不能为空', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }

                if( that.cate_id == '' || that.cate_id == 0 ){
                    layer.msg('商品分类必选', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }
                if( isNaN(that.sequence) ){
                    layer.msg('排序必须是数字', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }
                that.wap_content = getContents();
                that.pc_content = getContents();
                $.ajax({
                    url: "{:url('Goods/create_goods')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'goods_name' : that.goods_name,
                        'goods_image' : that.goods_image,
                        'goods_desc' : that.goods_desc,
                        'goods_seo_desc' : that.goods_seo_desc,
                        'goods_seo_keyword' : that.goods_seo_keyword,
                        'recommend' : that.recommend,
                        'sequence' : that.sequence,
                        'cate_id' : that.cate_id,
                        'goods_price' : that.goods_price,
                        'goods_number' : that.goods_number,
                        'readgroup' : that.readgroup,
                        'pc_content' : that.pc_content,
                        'wap_content' : that.wap_content,
                        'prop_tab' : that.prop_tab,
                        'sku_tab' : that.sku_tab
                    },
                    success: function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status == 1 ){
                            setTimeout(function(){
                                parent.window.clearWin();
                            },1000);
                        }
                    },
                    error: function (e) {
                        layer.msg('网络错误,提交失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            }
        }
    });
</script>
</body>
</html>