{extend name="base" /}
{block name="title" }管理员管理{/block}
{block name="body" }
<div class="layui-fluid" >
	<div class="layui-card">
		<div class="layui-card-body"  >
			<form class="layui-form" action="" id="form" >
				<div class="layui-form-item">
					<label class="layui-form-label">标题关键词</label>
					<div class="layui-input-inline">
						<input type="text" name="keyword" value="" placeholder="标题关键词" autocomplete="off" class="layui-input">
					</div>
					<div class="layui-input-inline" style="width:auto;">
						<button class="layui-btn" lay-submit lay-filter="formDemo">搜索</button>
					</div>
					<div class="layui-input-inline" style="width:auto;">
						<button type="reset" class="layui-btn layui-btn-primary">重置</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="layui-fluid">
	<div class="layui-card">
		<div class="layui-card-body">
			<table id="group_box" lay-filter="group_list"></table>
		</div>
	</div>
</div>
<!-- 操作模板 -->
<script type="text/html" id="toolbarTpl" >
	<button class="layui-btn layui-btn-sm" lay-event="add" >添加权限组</button>
</script>
<!-- 操作模板 -->
<script type="text/html" id="ctrlTpl">
	<button class="layui-btn layui-btn-xs" lay-event="user_list"  >用户列表</button>
	<button class="layui-btn layui-btn-xs layui-bg-red" lay-event="detail" style="{{ d.status != 2 ? '' : 'display:none; '}}" >编辑</button>
	<button class="layui-btn layui-btn-danger layui-btn-xs" style="{{ d.status != 2 ? '' : 'display:none; '}}" lay-event="deleted" >{{ d.status ? '禁用' : '恢复' }}</button>
	<button class="layui-btn layui-btn-xs" style="{{ d.status == 2 ? '' : 'display:none; '}}" lay-event="sequence"  >授权初始化</button>
</script>
<script>
	var getGroupListApi = "{:url('sys_user_group/get_group_list')}",
		addView = "{:url('sys_user_group/add')}";
	var table = layui.table;
	//执行渲染
	table.render({
		id:'group_box',
		elem: '#group_box',
		height: 'auto', //容器高度
		url: getGroupListApi,
		method:'post',
		page: true,
		toolbar: '#toolbarTpl',
		cols: [[
			{field: 'group_id', title: 'id',width:80,align:'center'},
			{field: 'group_name', title: '组别名'},
			{field: 'statusType', title: '状态',width:100,align:'center'},
			{field: 'group_id', title: '操作',width:240,templet:'#ctrlTpl'}
		]]
	});
	var form = layui.form;
	layui.use('form', function(){
		form.on('submit', function(data){
			searchData = data.field;
			//上述方法等价于
			table.reload('group_box', {
				where: searchData,
				page: {
					curr: 1 //重新从第 1 页开始
				}
			});
			return false;
		});
		form.render();
	});
	function show_img(obj){
		layer.open({
			title:'放大查看',
			type: 1,
			area:['50%','50%'],
			shadeClose: true,
			content: '<img style="display:block;margin:0 auto;"  src="'+$(obj).attr('src')+'" >'
		});
	}
	//头部按钮事件
	table.on('toolbar(group_list)', function(obj) {
		var data = obj.data;
		var layEvent = obj.event;
		switch( layEvent ){
			case 'add' :
				layer.open({
					title:'添加广告',
					type:2,
					shadeClose: true,
					closeBtn:1,
					area:['95%','95%'],
					content:addView,
					success:function (layero,index){
						//子窗口操作
						// LayuiOpenView = window[layero.find('iframe')[0]['name']];
					}
				});
				break;
			case 'btn-expand' :
				treetable.expandAll('#menus_list');
				break;
			case 'btn-fold' :
				treetable.foldAll('#menus_list');
				break;
			default :
				return false;
				break;
		}
		return false;
	});

	table.on('tool(adv_list)', function(obj) {
		var data = obj.data;
		var layEvent = obj.event;
		switch(layEvent) {
			case 'detail' ://详情
				url = editAdvView.replace('adv_id',data.adv_id);
				layer.open({
					title:'编辑广告',
					type:2,
					shadeClose: true,
					closeBtn:1,
					area:['100%','100%'],
					content:url,
					success:function (layero,index){
						//子窗口操作
						// LayuiOpenView = window[layero.find('iframe')[0]['name']];
					}
				});
				break;
			case 'sequence' ://更改排序
				layer.prompt({
					formType: 2,
					value: data.sequence,
					title: '由大到小排序（0-255）',
					area: ['100px', '25px'] //自定义文本域宽高
				}, function(value, index, elem){
					if(checkSort_value(value,255)){
						$.ajax({
							url: editSequenceApi,
							type: 'post',
							dataType: 'json',
							data: {
								'adv_id' : data.adv_id,
								'sequence' : value,
							},
							success:function (res) {
								layer.msg(res.msg, {
									time: 1000
								}, function(){
									if( !res.code ){
										table.reload('adv_box');
									}
								});
							},
							error:function(e){
								layer.msg('网络错误', {
									skin: 'layui-layer-huise'
								});
							}
						});
						layer.close(index);
					}else{
						layer.msg('请填写正确数值');
					}
				});
				return false;
				break;
			default :
				return false;
				break;
		}
		return false;
	});

	//关闭所有二级窗口
	function callback(){
		table.reload('adv_box');
		layer.closeAll();
	}
</script>
{/block}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<title>管理员权限组管理</title>
	<link rel="stylesheet" type="text/css" href="__SYSCSS__/style.css" />
	<script type="text/javascript" src="__SYSJS__/jquery.min.js"></script>
	<script type="text/javascript" src="__SYSJS__/jquery.artDialog.js?skin=blue"></script>
	<script type="text/javascript" src="__SYSJS__/my.js"></script>
	<script type="text/javascript" src="__JS__/vue.min.js" ></script>
	<script type="text/javascript" src="__JS__/layer/layer.js" ></script>
	<style>
		.pageTool{ text-align:center;}
		.pageTool ul{display:block; width:max-content; margin:0 auto;}
		.pageTool li{float:left; margin:0 10px;}
		#main_vue{display:none;}
	</style>
</head>
	<body width="100%">
		<div id="result" class="result none"></div>
		<div class="mainbox" id="main_vue" >
			<div id="nav" class="mainnav_title">
				<ul>
                	<a  href="javascript:void(0);" v-on:click="add_group">添加权限组</a>|
				</ul>
			</div>
			<div class="table-list">
				<table width="100%" cellspacing="0">
					<thead>
					<tr>
						<td><input type="text" placeholder="关键词搜索" v-model="keyword" /></td>
						<td><input type="button" v-on:click="search" class="button" value="搜索"/></td>
					</tr>
					<tr>
						<th width="40">ID</th>
						<th align="left" >权限组名</th>
						<th width="60">状态</th>
						<th width="220">操作</th>
					</tr>
					</thead>
					<tbody>
						<tr v-for="(group,index) in group_list">
							<td align="center">{{ group.group_id }}</td>
							<td>{{ group.group_name }}</td>
							<td align="center">{{ group.statusType }}</td>
							<td align="center">
								<span v-if="group.status!=2">
									<a href="javascript:void(0);" v-on:click="edit_group(group.group_id)" >修改</a> |
								</span>
								<span v-if="group.status!=2" >
									<a href="javascript:void(0);" v-on:click="disable_group(group.group_id)">{{ group.status ? '禁用' : '恢复' }}</a> |
								</span>
									<a href="javascript:void(0);" v-on:click="user_list(group.group_id)">用户列表</a>
								<span  v-if="group.status==2"  > |</span>
								<span  v-if="group.status==2" >
									<a href="javascript:void(0);" v-on:click="default_power();">授权初始化</a>
								</span>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4" class="pageTool" v-html="page_html" ></td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
		<script>
            var vue_main = new Vue({
                el: '#main_vue',
                data:{
                    'group_list' : [],
					'keyword' : "<?=input('keyword','')?>",
					'page_html' : '',
					'page' : "<?=input('page',1)?>",
                },
                mounted:function(){
                    var that = this;
                    //获取列表
					that.get_group_list();
					$('#main_vue').show();
                },
                methods:{
					get_group_list:function(){
                        var that = this;
                        $.ajax({
                            url: "{:url('sys_user_group/get_group_list')}?v="+Math.random(),
                            type: 'POST',
                            dataType: 'json',
                            async: false,
                            data:{'keyword' : that.keyword,'page':that.page},
                            success:function (data) {
                                that.group_list = data.info.list.data;
                                that.page_html = data.info.page;
                            },
                            error:function(e){
                                layer.msg('网络错误数据拉取失败', {
                                    skin: 'layui-layer-huise'
                                });
                                return false;
                            }
                        });
					},
                    search:function(){
                        var that = this;
                        that.page = 1;
                        that.get_group_list();
                    },
					get_group_list_reset:function(){
						var that = this;
                        that.keyword = '';
                        that.get_group_list();
					},
					add_group:function(){
                        layer.open({
                            title:'添加权限组',
                            type:2,
                            closeBtn:1,
                            area:['100%','100%'],
                            content: "{:url('sys_user_group/add')}"
                        })
					},
                    edit_group:function(group_id){
                        var toUrl = "{:url('sys_user_group/edit',['id'=>'group_id'])}";
                        toUrl = toUrl.replace('group_id',group_id);
                        layer.open({
                            title:'编辑权限组',
                            type:2,
                            closeBtn:1,
                            area:['100%','100%'],
                            content:toUrl
                        })
					},
                    disable_group:function(group_id){
					    var that = this;
                        var keyCode = prompt('请输入秘钥');
                        if( keyCode == '' || keyCode == null ){
                            return false;
                        }
                        $.ajax({
                            type: 'POST',
                            url: "{:url('sys_user_group/disable_group')}",
                            data:{ key:keyCode, group_id : group_id},
                            dataType: 'json',
                            success: function(data){
                                layer.msg(data.msg, {
                                    skin: 'layui-layer-huise'
                                });
                                if( data.status == 1 ){
                                    that.get_group_list();
                                }
                                return false;
                            },
                            error:function(e){
                                layer.msg('网络错误，操作失败', {
                                    skin: 'layui-layer-huise'
                                });
                                return false;
                            }
                        });
					},
                    user_list:function(group_id){
                        layer.open({
                            title:'用户列表',
                            type:2,
                            closeBtn:1,
                            area:['100%','100%'],
                            content:"{:url('sys_user/index')}?group_id="+group_id
                        })
					},
                    default_power:function(){
						var keyCode = prompt('请输入秘钥');
						if( keyCode == '' || keyCode == null ){
							return false;
						}
						$.ajax({
							type: 'POST',
							url: "{:url('sys_user_group/default_super_group')}",
							data:{ key : keyCode},
							dataType: 'json',
							success: function(data){
								layer.msg(data.msg, {
									skin: 'layui-layer-huise'
								});
								return false;
							},
							error:function(e){
                                layer.msg('网络错误，操作失败', {
                                    skin: 'layui-layer-huise'
                                });
                                return false;
                            }
						});
					}
				}
            });

            //关闭所有二级窗口
            function clearWin(){
                vue_main.get_group_list();
                layer.closeAll();
            }
		</script>
	</body>
</html>