<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
	<title>管理员权限组管理</title>
	<link rel="stylesheet" type="text/css" href="__SYSCSS__/style.css" />
	<script type="text/javascript" src="__SYSJS__/jquery.min.js"></script>
	<script type="text/javascript" src="__SYSJS__/jquery.artDialog.js?skin=blue"></script>
	<script type="text/javascript" src="__SYSJS__/my.js"></script>
	<script language="JavaScript">
        function confirm_delete(url){
            art.dialog.confirm("", function(){location.href = url;});
            $(document).keydown(function(event){
                if(event.which == 13 ){
                    location.href = url;
                }
            });
        }
	</script>
</head>
	<body width="100%">
		<div id="result" class="result none"></div>
		<div class="mainbox">
			<div class="table-list">
				<table width="100%" cellspacing="0">
					<thead>
					<tr>
						<th width="40">ID</th>
						<th align="left" >权限组名</th>
						<th width="60">状态</th>
						<th width="220">操作</th>
					</tr>
					</thead>
					<tbody>
					<?php foreach( $list as $role ){ ?>
						<tr>
							<td align="center">{$role['group_id']}</td>
							<td>{$role['group_name']}</td>
							<td align="center">{$role['status']}</td>
							<td align="center">
								<a href="">修改</a> |
								<a href="javascript:confirm_delete('')">删除</a> |
								<a href="javascript: openwin()">授权设置</a> |
								<a href="">用户列表</a>
								<a href=""></a>
							</td>
						</tr>
					<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>