<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>广告位管理</title>
    <link rel="stylesheet" type="text/css" href="__SYSCSS__/style.css" />
    <script type="text/javascript" src="__SYSJS__/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSJS__/jquery.artDialog.js?skin=blue"></script>
    <script type="text/javascript" src="__SYSJS__/my.js"></script>
    <script type="text/javascript" src="__JS__/vue.min.js" ></script>
    <script type="text/javascript" src="__JS__/layer/layer.js" ></script>
    <!--图片上传资源文件-->
    <script type="text/javascript" src="__UPLOAD__/plupload.full.min.js"></script>
    <script type="text/javascript" src="__UPLOAD__/upload.js"></script>
    <link rel="stylesheet" href="__UPLOAD__/css/plupload.css">
    <style>
        .pageTool{ text-align:center;}
        .pageTool ul{display:block; width:max-content; margin:0 auto;}
        .pageTool li{float:left; margin:0 10px;}
        #main_vue{display:none;}
    </style>
</head>
<body width="100%">
<div id="result" class="result none"></div>
<div class="mainbox" id="main_vue" >
    <div class="table-list">
        <table cellpadding=0 cellspacing=0 width="100%" class="table_form" >
            <tr>
                <th width="140">广告位标题：</th>
                <td ><input type="text" class="input-text" name="pos_name"  v-model="pos_name" ></td>
            </tr>
            <tr>
                <th width="140">广告位描述：</th>
                <td><input type="text" class="input-text" name="desc" v-model="pos_desc" ></td>
            </tr>
            <tr>
                <th width="140">广告类型：</th>
                <td>
                    <select v-model="pos_type" >
                        <?php foreach( $models::$map_type as $type_id => $type ): ?>
                        <option value="<?=$type_id?>"><?=$type?></option>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
                <th width="140">广告位限制显示数：</th>
                <td><input type="text" class="input-text" name="desc" v-model="pos_adv_num" ><span style="color:#FB5A5C;">( 0 为不限制 )</span></td>
            </tr>
            <tr>
                <th width="140">尺寸：</th>
                <td>
                    <input type="text" style="width:50px;" class="input-text" name="width" v-model="width" placeholder="宽" />
                    * <input type="text" style="width:50px;"  name="height" v-model="height" placeholder="高" >
                </td>
            </tr>
            <tr>
                <th width="140" >占位图：</th>
                <td>
                    <div id="upload_main" >
                        <div class="upload_box" v-bind:style="{ width: width/3 + 'px'}" >
                            <input type="hidden" id="icon" v-model="image" class="hid-val-box" readonly />
                            <div class="upload-title">上传图片</div>
                            <div class="upload-tips"><span>{{ width }}</span> <span>*</span> <span>{{ height }}</span></div>
                            <div class="upload-view" id="icon_img" v-bind:style="{ width: width/3 + 'px',height: height/3 +'px' }" >
                                <img v-bind:src="image" alt="" onerror="this.src='__UPLOAD__/images/upload_add.png'" >
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="btn" >
            <input TYPE="button"  value="添加" class="button" v-on:click="add_submit" />
            <input TYPE="reset"  value="重置" class="button" />
            <input TYPE="button"  value="返回" class="button" onclick="parent.window.clearWin();" />
        </div>
    </div>
</div>
<script>
    var vue_main = new Vue({
        el: '#main_vue',
        data:{
            'pos_name' : '',
            'pos_desc' : '',
            'pos_type' : 1,
            'pos_adv_num' : 0,
            'width' : 0,
            'height' : 0,
            'image' : ''
        },
        mounted:function(){
            var that = this;
            $('#main_vue').show();
            //图片上传配置
            $("#icon").WebUpload(
                'adv',
                function(respond){
                    if( respond.status == '1' ){
                        that.image = respond.info.file;
                    }else {
                        layer.msg('网络错误，图片上传失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                },
                function(errors) {
                    if( errors.code == -600 ){
                        alert('图片最大2M');
                    }
                });
            $('#icon_img').click(function() {
                $('#icon').click();
            });
        },
        methods: {
            add_submit:function(){
                var that = this;
                if( that.pos_name == '' ){
                    layer.msg('请填写广告标题', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }
                if( that.pos_desc == '' ){
                    layer.msg('请填写广告描述', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }
                if( that.width == '' ){
                    layer.msg('请填写广告宽度', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }
                if( that.height == '' ){
                    layer.msg('请填写广告高度', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }
                $.ajax({
                    url: "{:url('Advposition/create_pos')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'pos_name' : that.pos_name,
                        'pos_desc' : that.pos_desc,
                        'pos_type' : that.pos_type,
                        'pos_adv_num' : that.pos_adv_num,
                        'width' : that.width,
                        'height' : that.height,
                        'image' : that.image
                    },
                    success: function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status == 1 ){
                            setTimeout(function(){
                                parent.window.clearWin();
                            },1000);
                        }
                    },
                    error: function (e) {
                        layer.msg('网络错误,提交失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            }
        }
    });
</script>
</body>
</html>