<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>商品管理</title>
    <link rel="stylesheet" type="text/css" href="__SYSCSS__/style.css" />
    <script type="text/javascript" src="__SYSJS__/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSJS__/jquery.artDialog.js?skin=blue"></script>
    <script type="text/javascript" src="__SYSJS__/my.js"></script>
    <script type="text/javascript" src="__JS__/vue.min.js" ></script>
    <script type="text/javascript" src="__JS__/layer/layer.js" ></script>
    <style>
        .pageTool{ text-align:center;}
        .pageTool ul{display:block; width:max-content; margin:0 auto;}
        .pageTool li{float:left; margin:0 10px;}
        #main_vue{display:none;}
        #search_box{ width:100%; margin:5px auto; overflow:hidden; }
        #search_box ul li{ height:30px; margin:3px 0; padding:5px 0; }
        #search_box ul li label,#search_box ul li select{display:block; float:left; height:30px; line-height:30px; margin-right:10px; text-align:right; width:80px;}
        #search_box ul li input{ height:30px; line-height:30px; text-indent:1em; }
        #search_box ul li input[type="submit"]{ margin:0 auto; padding:0 10px; border:1px solid #ccc; border-radius:5px; text-indent:0; background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD)); cursor: pointer;}
    </style>
</head>
<body width="100%">
<div id="result" class="result none"></div>
<div class="mainbox" id="main_vue" >
    <div class="mainnav_title">
        <a  href="<?=url('goods/index')?>" >全部</a>|
        <a  href="<?=url('goods/index',['show'=>1])?>" >已上架</a>|
        <a  href="<?=url('goods/index',['show'=>0])?>" >未上架</a>|
        <a  href="<?=url('goods/index',['deleted'=>1])?>" >回收站</a>
    </div>
    <div class="mainnav_title">
        <a  href="javascript:void(0);" v-on:click="add_goods">添加商品</a>
    </div>
    <div id="search_box" >
        <form action="<?=url('Goods/index')?>" method="get" >
        <ul>
            <li><label for="keyword" >商品名搜索：</label><input type="text" name="keyword" id="keyword" placeholder="商品名关键词" v-model="keyword" /></li>
            <li>
                <label>价格区间：</label>
                <input type="text" name="price_min" id="price_min" value="" placeholder="最小值" v-model="price_min" /> — <input type="text" name="price_max" id="price_max" value="" placeholder="最大值" v-model="price_max" />
            </li>
            <li>
                <select name="search_type" >
                    <option value="">筛选类型</option>
                    <option value="1">商品id</option>
                    <option value="2">分类id</option>
                </select>
                <input type="text" name="search_value" id="search_value" placeholder="输入对应值" />
            </li>
            <li>
                <label></label>
                <input type="submit" value="搜索"  />
            </li>
        </ul>
        </form>
    </div>
    <form name="myform" action="" method="post">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th align="left">商品名</th>
                        <th>商品图</th>
                        <th>价格</th>
                        <th>商品排序</th>
                        <th>销售状态</th>
                        <th>推荐状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="!load_status" >
                        <td colspan="7" align="center">数据拉取中......</td>
                    </tr>
                    <tr v-if="load_status && goods_list.length == 0" >
                        <td colspan="7" align="center">暂无商品</td>
                    </tr>
                    <tr v-if="load_status && goods_list.length > 0" v-for="(goods,index) in goods_list">
                        <td align="center" >{{ goods.goods_id }}</td>
                        <td align="left">{{ goods.goods_name }} <span style="color:#FB0000;">{{ ( goods.recommend == 1 ) ? '(推荐中)' : '' }}</span></td>
                        <td align="center">
                            图片
                        </td>
                        <td align="center">{{ goods.goods_price }}</td>
                        <td align="center">
                            <input type="input-text" style="width:60px; text-align:center;" v-model="goods.sequence" />
                            <span v-if="goods.sequence != goods.oldSequence" >
                                <br />
                               <input type="button" class="button" style="width:60px; margin:0 auto;" value="保存" v-on:click="update_sequence(index)" />
                            </span>
                        </td>
                        <td align="center"></td>
                        <td align="center"></td>
                        <td align="center">
                            <span v-if="goods.status != 1" >
                                <a href="javascript:void(0);"  v-on:click="set_status(goods.article_id)" >审核</a> |
                            </span>
                            <span>
                                <a href="javascript:void(0);" v-on:click="set_recom(goods.article_id)" >{{ ( goods.recommend == 1 ) ? '设不推荐' : '设推荐' }}</a> |
                            </span>
                            <a href="javascript:void(0);" v-on:click="edit_article(goods.goods_id)">编辑</a> |
                            <a href="javascript:void(0);" v-on:click="del_article(goods.goods_id)">{{ (goods.deleted == 1 ) ? '恢复' : '删除' }}</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="pageTool" v-html="page_html" ></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>
<script>
    var vue_main = new Vue({
        el: '#main_vue',
        data:{
            'keyword' : "<?=input('keyword','')?>",
            'price_min' : '',
            'price_max' : '',
            'search_type' : '',
            'search_value' : '',
            'load_status' : false,
            'cate_list' : [],
            'goods_list' : [],
            'article_id' : "<?=input('article_id','')?>",
            'art_cate_id' : "<?=input('art_cate_id','')?>",
            'readgroup' : "<?=input('readgroup','')?>",
            'status' : "<?=input('status','')?>",
            'is_show' : "<?=input('show','')?>",
            'deleted' : "<?=input('deleted','')?>",
            'page_html' : '',
            'page' : "<?=input('get.page',1)?>"
        },
        mounted:function(){
            var that = this;
            //获取列表
            that.get_goods_list();
            $('#main_vue').show();
        },
        methods:{
            get_goods_list:function(){
                var that = this;
                that.load_status = false;
                $.ajax({
                    url: "{:url('Goods/get_goods_list')}?v="+Math.random(),
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : that.article_id,
                        'art_cate_id' : that.art_cate_id,
                        'keyword' : that.keyword,
                        'readgroup' : that.readgroup,
                        'status' : that.status,
                        'is_show' : that.is_show,
                        'deleted' : that.deleted,
                        'page' : that.page
                    },
                    success:function (data) {
                        that.goods_list = data.info.list.data;
                        that.page_html = data.info.page;
                        that.load_status = true;
                    },
                    error:function(e){
                        layer.msg('网络错误数据拉取失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            search:function(){
                var that = this;
                that.page = 1;
                that.get_article_list();
            },
            reset_search:function(){
                var that = this;
                that.article_id = '';
                that.art_cate_id = '';
                that.keyword = '';
                that.readgroup = '';
                that.status = '';
                that.get_article_list();
            },
            add_goods:function(){
                layer.open({
                    title:'添加商品',
                    type:2,
                    closeBtn:1,
                    area:['95%','95%'],
                    content: "{:url('Goods/add')}"
                })
            },
            edit_article:function(article_id){
                var toUrl = "{:url('Article/edit',['id'=>'article_id'])}";
                toUrl = toUrl.replace('article_id',article_id);
                layer.open({
                    title:'编辑文章',
                    type:2,
                    closeBtn:1,
                    area:['95%','95%'],
                    content:toUrl
                })
            },
            update_sequence:function(index){
                if( !confirm('是否确认保存') ){
                    return false;
                }
                var that = this;
                if( isNaN(that.article_list[index].sequence) ){
                    layer.msg('排序必须是数字', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }
                $.ajax({
                    url: "{:url('Article/set_sequence')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : that.article_list[index].article_id,
                        'sequence' : that.article_list[index].sequence
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            set_recom:function(article_id){
                if( !confirm('是否确认设置') ){
                    return false;
                }
                var that = this;
                $.ajax({
                    url: "{:url('Article/set_recomm')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : article_id,
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            set_read:function(article_id){
                if( !confirm('是否确认设置') ){
                    return false;
                }
                var that = this;
                $.ajax({
                    url: "{:url('Article/set_read')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : article_id,
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            set_status:function(article_id){
                if( !confirm('是否确认审核') ){
                    return false;
                }
                var that = this;
                $.ajax({
                    url: "{:url('Article/set_status')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : article_id,
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            del_article:function(article_id){
                if( !confirm('是否确认操作') ){
                    return false;
                }
                var that = this;
                $.ajax({
                    url: "{:url('Article/set_deleted')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : article_id,
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
        }
    });

    //关闭所有二级窗口
    function clearWin(){
        vue_main.get_article_list();
        layer.closeAll();
    }
</script>
</body>
</html>