<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta content="" name="keywords">
		<meta content="" name="description">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no,email=no,adress=no" />
		<meta http-equiv="Pragma" content="no-cache" />
		<title>欢乐赛车推筒子</title>
		<link rel="stylesheet" type="text/css" href="../public/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../public/layer/skin/layer.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/bet_list.css"/>
		<script src="../public/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="bet_wrap">
			<div class="bet_list_box">
				<table>
					<tr>
						<td><span class="serial_num">1</span></td>
						<td><span class="sex"><img src="../public/images/male.png" alt="" /></span></td>
						<td><span class="nick_name">卢本伟</span></td>
						<td><span class="put_money">9999</span></td>
					</tr>
					<tr>
						<td><span class="serial_num">2</span></td>
						<td><span class="sex"><img src="../public/images/female.png" alt="" /></span></td>
						<td><span class="nick_name">王兰花秀丽</span></td>
						<td><span class="put_money">8888</span></td>
					</tr>
					<tr>
						<td><span class="serial_num">1</span></td>
						<td><span class="sex"><img src="../public/images/male.png" alt="" /></span></td>
						<td><span class="nick_name">卢本伟</span></td>
						<td><span class="put_money">9999</span></td>
					</tr>
					<tr>
						<td><span class="serial_num">2</span></td>
						<td><span class="sex"><img src="../public/images/female.png" alt="" /></span></td>
						<td><span class="nick_name">王兰花秀丽</span></td>
						<td><span class="put_money">8888</span></td>
					</tr>
					<tr>
						<td><span class="serial_num">1</span></td>
						<td><span class="sex"><img src="../public/images/male.png" alt="" /></span></td>
						<td><span class="nick_name">卢本伟</span></td>
						<td><span class="put_money">9999</span></td>
					</tr>
					<tr>
						<td><span class="serial_num">2</span></td>
						<td><span class="sex"><img src="../public/images/female.png" alt="" /></span></td>
						<td><span class="nick_name">王兰花秀丽</span></td>
						<td><span class="put_money">8888</span></td>
					</tr>
					<tr>
						<td><span class="serial_num">1</span></td>
						<td><span class="sex"><img src="../public/images/male.png" alt="" /></span></td>
						<td><span class="nick_name">卢本伟</span></td>
						<td><span class="put_money">9999</span></td>
					</tr>
					<tr>
						<td><span class="serial_num">2</span></td>
						<td><span class="sex"><img src="../public/images/female.png" alt="" /></span></td>
						<td><span class="nick_name">王兰花秀丽</span></td>
						<td><span class="put_money">8888</span></td>
					</tr>
					<tr>
						<td><span class="serial_num">1</span></td>
						<td><span class="sex"><img src="../public/images/male.png" alt="" /></span></td>
						<td><span class="nick_name">卢本伟</span></td>
						<td><span class="put_money">9999</span></td>
					</tr>
					<tr>
						<td><span class="serial_num">2</span></td>
						<td><span class="sex"><img src="../public/images/female.png" alt="" /></span></td>
						<td><span class="nick_name">王兰花秀丽</span></td>
						<td><span class="put_money">8888</span></td>
					</tr>
				</table>
			</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				setParentFontsize();//加载layer的页面调用
			});
		</script>
	</body>
</html>
