<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta content="" name="keywords">
		<meta content="" name="description">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no,email=no,adress=no" />
		<meta http-equiv="Pragma" content="no-cache" />
		<title>欢乐赛车推筒子</title>
		<link rel="stylesheet" type="text/css" href="../public/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../public/layer/skin/layer.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/charts.css"/>
		<script src="../public/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="charts_wrap">
			<div class="nper_list clearfix">
				<div class="top_info clearfix">
					<div class="nper_num fl"><span>661478</span>期</div>
					<div class="time_bar fr">
						<span class="date">2018-02-30</span>
						<span class="time">24:61:61</span>
					</div>
				</div>
				<div class="charts_data clearfix">
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num01.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num01.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num1.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num02.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num02.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num2.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num03.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num03.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num3.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num04.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num04.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num4.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num05.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num05.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num5.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num06.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num06.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num6.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num07.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num07.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num7.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num08.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num08.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num8.png" alt="" /></div>
					</div>
				</div>
			</div>
			
			<div class="nper_list clearfix">
				<div class="top_info clearfix">
					<div class="nper_num fl"><span>661478</span>期</div>
					<div class="time_bar fr">
						<span class="date">2018-02-30</span>
						<span class="time">24:61:61</span>
					</div>
				</div>
				<div class="charts_data clearfix">
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num01.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num01.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num1.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num02.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num02.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num2.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num03.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num03.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num3.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num04.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num04.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num4.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num05.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num05.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num5.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num06.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num06.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num6.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num07.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num07.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num7.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num08.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num08.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num8.png" alt="" /></div>
					</div>
				</div>
			</div>
			
			<div class="nper_list clearfix">
				<div class="top_info clearfix">
					<div class="nper_num fl"><span>661478</span>期</div>
					<div class="time_bar fr">
						<span class="date">2018-02-30</span>
						<span class="time">24:61:61</span>
					</div>
				</div>
				<div class="charts_data clearfix">
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num01.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num01.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num1.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num02.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num02.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num2.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num03.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num03.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num3.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num04.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num04.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num4.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num05.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num05.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num5.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num06.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num06.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num6.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num07.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num07.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num7.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num08.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num08.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num8.png" alt="" /></div>
					</div>
				</div>
			</div>
			
			<div class="nper_list clearfix">
				<div class="top_info clearfix">
					<div class="nper_num fl"><span>661478</span>期</div>
					<div class="time_bar fr">
						<span class="date">2018-02-30</span>
						<span class="time">24:61:61</span>
					</div>
				</div>
				<div class="charts_data clearfix">
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num01.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num01.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num1.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num02.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num02.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num2.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num03.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num03.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num3.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num04.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num04.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num4.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num05.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num05.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num5.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num06.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num06.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num6.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num07.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num07.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num7.png" alt="" /></div>
					</div>
					<div class="charts_list fl">
						<div class="plate_num"><img src="../public/images/plate_num08.png" alt="" /></div>
						<div class="ranking_num"><img src="../public/images/ranking_num08.png" alt="" /></div>
						<div class="branch"></div>
						<div class="car_num"><img src="../public/images/ranking_num8.png" alt="" /></div>
					</div>
				</div>
			</div>
			
			<div class="box_footer clearfix">
				<a href="javascript:void(0);" class="prev_btn"></a>
				<span id="page">1</span>
				<a href="javascript:void(0);" class="next_btn"></a>
			</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				setParentFontsize();//加载layer的页面调用
			});
		</script>
	</body>
</html>
