<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta content="" name="keywords">
		<meta content="" name="description">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no,email=no,adress=no" />
		<meta http-equiv="Pragma" content="no-cache" />
		<title>欢乐赛车推筒子</title>
		<link rel="stylesheet" type="text/css" href="../public/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../public/layer/skin/layer.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/player_list.css"/>
		<script src="../public/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="player_wrap">
			<div class="player_msg clearfix">
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/male.png" alt="" /></div>
						<div class="nick_name fl">卢本伟</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/female.png" alt="" /></div>
						<div class="nick_name fl">王兰花秀丽王兰花秀丽王兰花秀丽王兰花秀丽</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/male.png" alt="" /></div>
						<div class="nick_name fl">卢本伟</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/female.png" alt="" /></div>
						<div class="nick_name fl">王兰花秀丽</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/male.png" alt="" /></div>
						<div class="nick_name fl">卢本伟</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/female.png" alt="" /></div>
						<div class="nick_name fl">王兰花秀丽王兰花秀丽王兰花秀丽王兰花秀丽</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/male.png" alt="" /></div>
						<div class="nick_name fl">卢本伟</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/female.png" alt="" /></div>
						<div class="nick_name fl">王兰花秀丽</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/male.png" alt="" /></div>
						<div class="nick_name fl">卢本伟</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/female.png" alt="" /></div>
						<div class="nick_name fl">王兰花秀丽王兰花秀丽王兰花秀丽王兰花秀丽</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/male.png" alt="" /></div>
						<div class="nick_name fl">卢本伟</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/female.png" alt="" /></div>
						<div class="nick_name fl">王兰花秀丽</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/male.png" alt="" /></div>
						<div class="nick_name fl">卢本伟</div>
					</div>
				</div>
				<div class="player_list">
					<div class="player_face fl"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></div>
					<div class="player_info fr clearfix">
						<div class="sex fl"><img src="../public/images/female.png" alt="" /></div>
						<div class="nick_name fl">王兰花秀丽</div>
					</div>
				</div>
			</div>
			
			<div class="box_footer clearfix">
				<a href="javascript:void(0);" class="prev_btn"></a>
				<span id="page">1</span>
				<a href="javascript:void(0);" class="next_btn"></a>
			</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				setParentFontsize();//加载layer的页面调用
			});
		</script>
	</body>
</html>
