<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<meta content="" name="keywords">
		<meta content="" name="description">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="format-detection" content="telephone=no,email=no,adress=no" />
		<meta http-equiv="Pragma" content="no-cache" />
		<title>欢乐赛车推筒子</title>
		<link rel="stylesheet" type="text/css" href="../public/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="../public/layer/skin/layer.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../public/css/record.css"/>
		<script src="../public/js/jquery-2.1.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../public/layer/layer.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div class="record_wrap">
			<div class="record_title">战绩</div>
			<div class="record_main">
				<ul class="record_list">
					<li>
						<span class="user_face"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></span>
						<p class="user_nick">卢本伟卢本伟卢本伟</p>
					</li>
					<li>￥<span>500</span></li>
					<li>2018.2.30 24:61:61</li>
					<li>+500</li>
					<li><span class="ranking_num"><img src="../public/images/ranking_num1.png" alt="" /></span></li>
				</ul>
				
				<ul class="record_list">
					<li>
						<span class="user_face"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></span>
						<p class="user_nick">卢本伟卢本伟卢本伟</p>
					</li>
					<li>￥<span>500</span></li>
					<li>2018.2.30 24:61:61</li>
					<li>+500</li>
					<li><span class="ranking_num"><img src="../public/images/ranking_num2.png" alt="" /></span></li>
				</ul>
				
				<ul class="record_list">
					<li>
						<span class="user_face"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></span>
						<p class="user_nick">卢本伟卢本伟卢本伟</p>
					</li>
					<li>￥<span>500</span></li>
					<li>2018.2.30 24:61:61</li>
					<li>+500</li>
					<li><span class="ranking_num"><img src="../public/images/ranking_num3.png" alt="" /></span></li>
				</ul>
				
				<ul class="record_list">
					<li>
						<span class="user_face"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></span>
						<p class="user_nick">卢本伟卢本伟卢本伟</p>
					</li>
					<li>￥<span>500</span></li>
					<li>2018.2.30 24:61:61</li>
					<li>+500</li>
					<li><span class="ranking_num"><img src="../public/images/ranking_num4.png" alt="" /></span></li>
				</ul>
				
				<ul class="record_list">
					<li>
						<span class="user_face"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></span>
						<p class="user_nick">卢本伟卢本伟卢本伟</p>
					</li>
					<li>￥<span>500</span></li>
					<li>2018.2.30 24:61:61</li>
					<li>+500</li>
					<li><span class="ranking_num"><img src="../public/images/ranking_num5.png" alt="" /></span></li>
				</ul>
				
				<ul class="record_list">
					<li>
						<span class="user_face"><img src="http://pengjianquan.pro.bluej.cn/resume/favicon.ico" alt="" /></span>
						<p class="user_nick">卢本伟卢本伟卢本伟</p>
					</li>
					<li>￥<span>500</span></li>
					<li>2018.2.30 24:61:61</li>
					<li>+500</li>
					<li><span class="ranking_num"><img src="../public/images/ranking_num6.png" alt="" /></span></li>
				</ul>
			</div>
			
			<div class="box_footer clearfix">
				<a href="javascript:void(0);" class="prev_btn"></a>
				<span id="page">1</span>
				<a href="javascript:void(0);" class="next_btn"></a>
			</div>
		</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				setParentFontsize();//加载layer的页面调用
			});
		</script>
	</body>
</html>
