{extend name="base" /}
{block name="title" }日志管理{/block}
{block name="body" }
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="log_list" lay-filter="log"></table>
        </div>
    </div>
</div>
<script type="text/html" id="toolbarTpl" >
</script>
<script>
    var getLogListApi = "{:url('log/getAll')}";
    var table = layui.table;
    //执行渲染
    table.render({
        id:'log_list',
        elem: '#log_list',
        height: 'auto', //容器高度
        url: getLogListApi,
        page: true,
        toolbar: '#toolbarTpl',
        cols: [[
            {field: 'username', title: '操作账号', width: 100},
            {field: 'type', title: '日志类型',align:'center',width: 100},
            {field: 'description', title: '日志内容'},
            {field: 'add_time', title: '操作时间',width: 200},
            {field: 'add_ip', title: '操作ip',width:200},
        ]]
    });
</script>
{/block}
