<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>文章管理</title>
    <link rel="stylesheet" type="text/css" href="__SYSCSS__/style.css" />
    <script type="text/javascript" src="__SYSJS__/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSJS__/jquery.artDialog.js?skin=blue"></script>
    <script type="text/javascript" src="__SYSJS__/my.js"></script>
    <script type="text/javascript" src="__JS__/vue.min.js" ></script>
    <script type="text/javascript" src="__JS__/layer/layer.js" ></script>
    <style>
        .pageTool{ text-align:center;}
        .pageTool ul{display:block; width:max-content; margin:0 auto;}
        .pageTool li{float:left; margin:0 10px;}
        #main_vue{display:none;}
    </style>
</head>
<body width="100%">
<div id="result" class="result none"></div>
<div class="mainbox" id="main_vue" >
    <div class="mainnav_title">
        <a  href="<?=url('admin/article/index')?>" >全部</a>|
        <a  href="<?=url('admin/article/index',['show'=>1])?>" >可读文章列表</a>|
        <a  href="<?=url('admin/article/index',['show'=>0])?>" >不可读文章列表</a>|
        <a  href="<?=url('admin/article/index',['deleted'=>1])?>" >回收站</a>
    </div>
    <div class="mainnav_title">
        <a  href="javascript:void(0);" v-on:click="add_article">添加文章</a>
    </div>
    <table  class="search_table" width="100%">
        <tr>
            <td>
                <input type="text" name="article_id" v-model="article_id" class="input-text" placeholder="文章id" />
                <input type="text" name="keyword" v-model="keyword" class="input-text" placeholder="账号关键词" />
                <select name="cate_id" v-model="art_cate_id" >
                    <option value="">文章栏目</option>
                    <option v-for="(cate,index) in cate_list" v-bind:value="cate.art_cate_id" v-html="cate.cate_name"></option>
                </select>
                <select name="readgroup" v-model="readgroup" >
                    <option value="">阅读权限</option>
                    <?php foreach( $map_readgroup as $k => $group ){ ?>
                    <option value="<?=$k?>" ><?=$group?></option>
                    <?php } ?>
                </select>
                <select name="status" v-model="status" >
                    <option value="">文章状态</option>
                    <?php foreach( $map_status as $k => $statusName ){ ?>
                    <option value="<?=$k?>" ><?=$statusName?></option>
                    <?php } ?>
                </select>
                <input type="button" value="搜索"  class="button" v-on:click="search" />
                <input type="reset" value="重置" class="button" v-on:click="reset_search"  />
            </td>
        </tr>
    </table>
    <form name="myform" action="" method="post">
        <div class="table-list">
            <table width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th align="left">文章标题</th>
                    <th>文章排序</th>
                    <th>阅读权限</th>
                    <th>文章状态</th>
                    <th>阅读数</th>
                    <th>上一次修改时间</th>
                    <th>营销操作</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                    <tr v-if="!load_status" >
                        <td colspan="9" align="center">数据拉取中......</td>
                    </tr>
                    <tr v-if="load_status && article_list.length == 0" >
                        <td colspan="9" align="center">没有任何文章</td>
                    </tr>
                    <tr v-if="load_status && article_list.length > 0" v-for="(article,index) in article_list">
                        <td align="center" >{{ article.article_id }}</td>
                        <td align="left">{{ article.title }} <span style="color:#FB0000;">{{ ( article.recommend == 1 ) ? '(推荐中)' : '' }}</span></td>
                        <td align="center">
                            <input type="input-text" style="width:60px; text-align:center;" v-model="article.sequence" />
                            <span>
                                <br />
                               <input v-if="article.sequence != article.oldSequence" type="button" class="button" style="width:60px; margin:0 auto;" value="保存" v-on:click="update_sequence(index)" />
                                                            </span>
                        </td>
                        <td align="center">{{ article.powerGroup }}</td>
                        <td align="center">{{ article.statusDesc }}</td>
                        <td align="center">{{ article.read_num }}</td>
                        <td align="center">{{ article.edit_date }}</td>
                        <td align="center">
                            <span v-if="article.status != 1" >
                                <a href="javascript:void(0);"  v-on:click="set_status(article.article_id)" >审核</a> |
                            </span>
                            <span>
                                <a href="javascript:void(0);" v-on:click="set_recom(article.article_id)" >{{ ( article.recommend == 1 ) ? '设不推荐' : '设推荐' }}</a> |
                            </span>
                            <span>
                                <a href="javascript:void(0);" v-on:click="set_read(article.article_id)">{{ (article.is_show == 1 ) ? '设不可读' : '设可读' }}</a>
                            </span>
                        </td>
                        <td align="center">
                            <a href="javascript:void(0);" v-on:click="edit_article(article.article_id)">编辑</a> |
                            <a href="javascript:void(0);" v-on:click="del_article(article.article_id)">{{ (article.deleted == 1 ) ? '恢复' : '删除' }}</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="9" class="pageTool" v-html="page_html" ></td>
                </tr>
                </tfoot>
            </table>
        </div>
    </form>
</div>
<script>
    var vue_main = new Vue({
        el: '#main_vue',
        data:{
            'load_status' : false,
            'cate_list' : [],
            'article_list' : [],
            'article_id' : "<?=input('article_id','')?>",
            'art_cate_id' : "<?=input('art_cate_id','')?>",
            'keyword' : "<?=input('keyword','')?>",
            'readgroup' : "<?=input('readgroup','')?>",
            'status' : "<?=input('status','')?>",
            'is_show' : "<?=input('show','')?>",
            'deleted' : "<?=input('deleted','')?>",
            'page_html' : '',
            'page' : "<?=input('get.page',1)?>"
        },
        mounted:function(){
            var that = this;
            //获取列表
            that.get_article_list();
            //筛选信息
            that.get_cate_list();
            $('#main_vue').show();
        },
        methods:{
            get_cate_list:function(){
                var that = this;
                $.ajax({
                    url: "{:url('Articlecate/get_cate_list')}?v="+Math.random(),
                    type: 'get',
                    dataType: 'json',
                    success:function (data) {
                        if(data.status){
                            //区分层级
                            that.set_tree(data.info);
                        }else{
                            layer.msg(data.msg, {
                                skin: 'layui-layer-huise'
                            });
                            return false;
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误数据拉取失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            set_tree:function(cate_list){
                var that = this;
                var nbsp = '';
                for( var i = 0; i < cate_list.length; i++ ){
                    cate_list[i].oldSequence = cate_list[i].sequence;
                    cate_list[i].tree = '';
                    nbsp = '';
                    if( cate_list[i].pNum > 0 ){
                        cate_list[i].tree += '├';
                        for( var t = 0; t < cate_list[i].pNum; t++ ){
                            nbsp += '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;';
                            cate_list[i].tree += '─';
                        }
                        cate_list[i].tree = nbsp+cate_list[i].tree;
                        cate_list[i].cate_name = cate_list[i].tree+cate_list[i].cate_name;
                    }
                }
                that.cate_list = cate_list;
            },
            get_article_list:function(){
                var that = this;
                that.load_status = false;
                $.ajax({
                    url: "{:url('Article/get_article_list')}?v="+Math.random(),
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : that.article_id,
                        'art_cate_id' : that.art_cate_id,
                        'keyword' : that.keyword,
                        'readgroup' : that.readgroup,
                        'status' : that.status,
                        'is_show' : that.is_show,
                        'deleted' : that.deleted,
                        'page' : that.page
                    },
                    success:function (data) {
                        that.article_list = data.info.list.data;
                        that.page_html = data.info.page;
                        that.load_status = true;
                    },
                    error:function(e){
                        layer.msg('网络错误数据拉取失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            search:function(){
                var that = this;
                that.page = 1;
                that.get_article_list();
            },
            reset_search:function(){
                var that = this;
                that.article_id = '';
                that.art_cate_id = '';
                that.keyword = '';
                that.readgroup = '';
                that.status = '';
                that.get_article_list();
            },
            add_article:function(){
                layer.open({
                    title:'添加文章',
                    type:2,
                    closeBtn:1,
                    area:['95%','95%'],
                    content: "{:url('Article/add')}"
                })
            },
            edit_article:function(article_id){
                var toUrl = "{:url('Article/edit',['id'=>'article_id'])}";
                toUrl = toUrl.replace('article_id',article_id);
                layer.open({
                    title:'编辑文章',
                    type:2,
                    closeBtn:1,
                    area:['95%','95%'],
                    content:toUrl
                })
            },
            update_sequence:function(index){
                if( !confirm('是否确认保存') ){
                   return false;
                }
                var that = this;
                if( isNaN(that.article_list[index].sequence) ){
                    layer.msg('排序必须是数字', {
                        skin: 'layui-layer-huise'
                    });
                    return false;
                }
                $.ajax({
                    url: "{:url('Article/set_sequence')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : that.article_list[index].article_id,
                        'sequence' : that.article_list[index].sequence
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            set_recom:function(article_id){
                if( !confirm('是否确认设置') ){
                    return false;
                }
                var that = this;
                $.ajax({
                    url: "{:url('Article/set_recomm')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : article_id,
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            set_read:function(article_id){
                if( !confirm('是否确认设置') ){
                    return false;
                }
                var that = this;
                $.ajax({
                    url: "{:url('Article/set_read')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : article_id,
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            set_status:function(article_id){
                if( !confirm('是否确认审核') ){
                    return false;
                }
                var that = this;
                $.ajax({
                    url: "{:url('Article/set_status')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : article_id,
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
            del_article:function(article_id){
                if( !confirm('是否确认操作') ){
                    return false;
                }
                var that = this;
                $.ajax({
                    url: "{:url('Article/set_deleted')}",
                    type: 'post',
                    dataType: 'json',
                    data:{
                        'article_id' : article_id,
                    },
                    success:function (data) {
                        layer.msg(data.msg, {
                            skin: 'layui-layer-huise'
                        });
                        if( data.status ){
                            that.get_article_list();
                        }
                    },
                    error:function(e){
                        layer.msg('网络错误，操作失败', {
                            skin: 'layui-layer-huise'
                        });
                        return false;
                    }
                });
            },
        }
    });

    //关闭所有二级窗口
    function clearWin(){
        vue_main.get_article_list();
        layer.closeAll();
    }
</script>
</body>
</html>