<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>管理员管理</title>
    <link rel="stylesheet" type="text/css" href="__SYSCSS__/style.css" />
    <script type="text/javascript" src="__SYSJS__/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSJS__/jquery.artDialog.js?skin=blue"></script>
    <script type="text/javascript" src="__SYSJS__/my.js"></script>
    <script language="JavaScript">
        function confirm_delete(url){
            art.dialog.confirm("", function(){location.href = url;});
            $(document).keydown(function(event){
                if(event.which == 13 ){
                    location.href = url;
                }
            });
        }
    </script>
    <style>
        .pageTool{ text-align:center;}
        .pageTool ul{display:block; width:max-content; margin:0 auto;}
        .pageTool li{float:left; margin:0 10px;}
    </style>
</head>
    <body width="100%">
        <div id="result" class="result none"></div>
        <div class="mainbox">

            <table  class="search_table" width="100%">
                <tr>
                    <td>
                        <form action="" method="get">
                            <input type="hidden" name="g" value="" />
                            <input type="hidden" name="m" value="" />
                            <input type="hidden" name="a" value="" />
                            <input type="text" name="keyword"  class="input-text" value="" placeholder="账号关键词" />
                            <select name="searchtype">
                                <option value="">用户状态</option>
                            </select>
                            <select name="groupid">
                                <option value="">权限组</option>
                            </select>
                            <input type="submit" value="搜索"  class="button" />
                            <input type="reset" value="重置" class="button"  />
                        </form>
                    </td>

                </tr>
            </table>
            <form name="myform" action="" method="post">
                <div class="table-list">
                    <table width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td align="left">用户名</td>
                            <td>用户状态</td>
                            <td>上一次登录时间</td>
                            <td>操作</td>
                        </tr>
                        </thead>
                        <tbody>
                        <?php if(!empty($list)): foreach( $list as $user ): ?>
                                <tr>
                                    <td>{$user.sys_user_id}</td>
                                    <td align="left"> {$user.username}</td>
                                    <td> {$user.statusType}</td>
                                    <td> {$user.last_date}</td>
                                    <td>
                                        <a href="">编辑</a>
                                        <?php if( $user['status'] == 1 ){ ?>
                                        <a href="">禁用</a>
                                        <?php } ?>
                                        <?php if($user['status'] != 0){ ?>
                                        <a href="">注销</a>
                                        <?php } ?>
                                    </td>
                                </tr>
                        <?php endforeach; endif;?>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="pageTool">{$page}</td>
                            </tr>
                        </tfoot>
                    </table>
        </div>
        </form>

        <div id="pages" class="page"></div>

        </div>
    </body>
</html>