{extend name="base" /}
{block name="title" }导航管理{/block}
{block name="static_link" }
<script src="__JS__/vue.min.js"></script>
{/block}
{block name="style" }
<style>
    .layui-card-body{overflow:hidden;}
    .layui-card-header{text-align:center;}
    .layui-card-body .city-ul{display:block; height:360px; margin-bottom:10px; border:1px solid #fff; overflow:hidden; overflow-y:scroll; border:1px solid rgb(246, 246, 246); }
    .layui-card-body .city-ul li{width:100%; height:25px; line-height:25px;  text-indent:10px;}
    .layui-card-body .city-ul li{width:100%; height:25px; line-height:25px;  text-indent:10px;}
    .layui-card-body .city-ul li a{float:right; cursor:pointer; color:#ccc;}
    .layui-card-body .city-ul li:hover{background:#eee;}
    .layui-card-body .city-ul .active{ background:#00b7ee !important; color:#ffffff;}
    .btns{display:block; width:100%; margin:0 auto; margin-top:10px;}
</style>
{/block}
{block name="body" }
<div id="main_vue" v-cloak>
    <div class="layui-card-body">
        <div class="layui-fluid layui-col-sm3">
            <div class="layui-card">
                <div class="layui-card-header">省份</div>
                <div class="layui-card-body">
                    <ul class="city-ul">
                        <li style="text-align:center;" v-if="prov_list.length == 0 " >数据拉取中...</li>
                        <li v-bind:class="[ ( prov_change == prov.id ) ? 'active' : '']" v-for="(prov,index) in prov_list" v-on:click="get_city_list(prov.id,'prov')" >{{ prov.name }} <a href="javascript:void(0);" v-on:click="del_city" >删除</a></li>
                    </ul>
                    <div class="input-box" >
                        <input type="text" class="layui-input" v-model="new_prov" placeholder="填写省份名">
                    </div>
                    <div class="input-box" >
                        <button type="button" class="layui-btn btns" v-on:click="add_city('prov')">添加</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-fluid layui-col-sm3" v-if="prov_change > 0">
            <div class="layui-card">
                <div class="layui-card-header">城市</div>
                <div class="layui-card-body">
                    <ul class="city-ul">
                        <li style="text-align:center;" v-if="city_list.length == 0 " >没有内容</li>
                        <li v-bind:class="[ ( city_change == city.id ) ? 'active' : '']" v-for="(city,index) in city_list" v-on:click="get_city_list(city.id,'city')" >{{ city.name }} <a href="javascript:void(0);" v-on:click="del_city" >删除</a></li>
                    </ul>
                    <div class="input-box" >
                        <input type="text" name="title" v-model="new_city" placeholder="填写城市名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="input-box" >
                        <button type="button" class="layui-btn btns" v-on:click="add_city('city')">添加</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-fluid layui-col-sm3" v-if="city_change > 0">
            <div class="layui-card">
                <div class="layui-card-header">区域</div>
                <div class="layui-card-body">
                    <ul class="city-ul">
                        <li style="text-align:center;" v-if="area_list.length == 0 " >没有内容</li>
                        <li v-bind:class="[ ( area_change == area.id ) ? 'active' : '']" v-for="(area,index) in area_list" >{{ area.name }} <a href="javascript:void(0);" v-on:click="del_city" >删除</a></li>
                    </ul>
                    <div class="input-box" >
                        <input type="text" name="title" v-model="new_area" placeholder="填写区域名" autocomplete="off" class="layui-input">
                    </div>
                    <div class="input-box" >
                        <button type="button" class="layui-btn btns" v-on:click="add_city('area')">添加</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
var vue_main = new Vue({
el: '#main_vue',
data:{
    'prov_list' : [],
    'prov_change' : '',
    'new_prov' : '',
    'city_list' : [],
    'city_change' : '',
    'new_city' : '',
    'area_list' : [],
    'area_change' : '',
    'new_area' : ''
},
mounted:function(){
    var that = this;
    that.get_city_list();
},
methods:{
    get_city_list:function(pid,type){
        if( typeof(pid) == 'undefined' ){
            pid = 0;
        }
        if( typeof(type) == 'undefined' ){
            type = '';
        }
        var that = this;
        $.ajax({
            url: "{:url('City/get_city_list')}",
            type: 'post',
            dataType: 'json',
            data:{
                pid : pid
            },
            success:function (res) {
                if(!res.code){
                    switch(type){
                        case 'prov' :
                            that.prov_change = pid;
                            that.city_change = '';
                            that.city_list = res.data;
                            that.area_list = [];
                            break;
                        case 'city' :
                            that.city_change = pid;
                            that.area_list = res.data;
                            break;
                        case 'area' :
                            that.area_list = res.data;
                            break;
                        default :
                            that.prov_list = res.data;
                            that.prov_change = '';
                            that.city_change = '';
                            that.area_change = '';
                            that.city_list = [];
                            that.area_list = [];
                            break;
                    }
                }else{
                    layer.msg(data.msg, {
                        skin: 'layui-layer-huise'
                    });
                }
            },
            error:function(e){
                layer.msg('网络错误数据拉取失败');
                return false;
            }
        });
    },
    add_city:function(type){
        var that = this;
        var name = '';
        var pid = 0;
        switch(type){
            case 'prov':
                if( that.new_prov == '' ){
                    layer.msg('请填写省份名');
                    return false;
                }
                type = '';
                name = that.new_prov;
                pid = 0;
                break;
            case 'city':
                type = 'prov';
                if( that.new_city == '' ){
                    layer.msg('请填写城市名');
                    return false;
                }
                name = that.new_city;
                pid = that.prov_change;
                break;
            case 'area':
                if( that.new_area == '' ){
                    layer.msg('请填写区域名');
                    return false;
                }
                name = that.new_area;
                pid = that.city_change;
                break;
            default :
                if( that.new_area == '' ){
                    layer.msg('页面错误，添加失败');
                    return false;
                }
                return false;
                break;
        }
        $.ajax({
            url: "{:url('City/create_city')}",
            type: 'post',
            dataType: 'json',
            data: {
                name : name,
                pid : pid
            },
            success: function (res) {
                layer.msg(res.msg);
                if (!res.code) {
                    that.get_city_list(pid,type);
                    that.new_prov = '';
                    that.new_city = '';
                    that.new_area = '';
                }
            },
            error: function (e) {
                layer.msg('网络错误，添加失败');
                return false;
            }
        });
    },
    del_city:function(city_id){
        var that = this;
        layer.confirm("是否确认删除！删除后不可恢复", {
            btn: ["确定","取消"] //按钮
        }, function(){
            layer.msg('暂时不允许删除');
            return false;
        });
        return false;
    }
}
});
</script>
{/block}