{extend name="base" /}
{block name="static_link" }
<link rel="stylesheet" href="__CSS__/admin/login.css" media="all">
{/block}
{block name="body"}
<div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">

    <div class="layadmin-user-login-main">
        <div class="layadmin-user-login-box layadmin-user-login-header">
            <h2>管理平台</h2>
        </div>
        <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-username"></label>
                <input type="text" name="username" id="LAY-user-login-username" lay-verify="required" placeholder="用户名" class="layui-input">
            </div>
            <div class="layui-form-item">
                <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                <input type="password" name="password" id="LAY-user-login-password" lay-verify="required" placeholder="密码" class="layui-input">
            </div>
            <div class="layui-form-item">
                <div class="layui-row">
                    <div class="layui-col-xs7">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-vercode" for="LAY-user-login-vercode"></label>
                        <input type="text" name="verifyCode" id="LAY-user-login-vercode" lay-verify="required" placeholder="图形验证码" class="layui-input">
                    </div>
                    <div class="layui-col-xs5">
                        <div style="margin-left: 10px;">
                            <img src="{:captcha_src()}" class="layadmin-user-login-codeimg" id="LAY-user-get-vercode" onclick="this.src='{:captcha_src()}?'+Math.random()" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <button id="submit-btn" class="layui-btn layui-btn-fluid" lay-submit lay-filter="checkIn" >登 入</button>
            </div>
        </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">

        <p>Copyright © 2018 <a>CJ</a></p>
        <p>粤ICP备18139743号</p>
    </div>

    <!--<div class="ladmin-user-login-theme">
      <script type="text/html" template>
        <ul>
          <li data-theme=""><img src="{{ layui.setter.base }}style/res/bg-none.jpg"></li>
          <li data-theme="#03152A" style="background-color: #03152A;"></li>
          <li data-theme="#2E241B" style="background-color: #2E241B;"></li>
          <li data-theme="#50314F" style="background-color: #50314F;"></li>
          <li data-theme="#344058" style="background-color: #344058;"></li>
          <li data-theme="#20222A" style="background-color: #20222A;"></li>
        </ul>
      </script>
    </div>-->

</div>

<script>
    var submit_status = 1;
    layui.use(['form'], function(){
        var form = layui.form;
        form.render();
        //提交
        form.on('submit(checkIn)', function(obj){
            if(submit_status){
                submit_status = 0;
                $.ajax({
                    type: "POST",
                    url: "{:url('Login/signIn')}",
                    dataType:'JSON',
                    data: obj.field,
                    success: function(res) {
                        layer.msg(res.msg, {
                            time: 1000
                        }, function(){
                            if(res.code ){
                                submit_status = 1;
                                errReturn();
                            }else{
                                location.href = '{:url("Index/index")}'; //后台主页
                            }
                        });
                        return false;
                    }
                });
            }
            return false;
        });
    });
    $(document).keydown(function(event){
        if(event.keyCode==13){
            document.getElementById("submit-btn").click();
        }
    });
    function errReturn(){
        $('#LAY-user-get-vercode').attr('src','{:captcha_src()}');
    }
</script>
{/block}