<!DOCTYPE>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <title>文章管理</title>
    <link rel="stylesheet" type="text/css" href="__SYSCSS__/style.css" />
    <script type="text/javascript" src="__SYSJS__/jquery.min.js"></script>
    <script type="text/javascript" src="__SYSJS__/jquery.artDialog.js?skin=blue"></script>
    <script type="text/javascript" src="__SYSJS__/my.js"></script>
    <script type="text/javascript" src="__JS__/vue.min.js" ></script>
    <script type="text/javascript" src="__JS__/layer/layer.js" ></script>
    <script type="text/javascript" src="__JS__/laydate/laydate.js"></script>
    <!--图片上传资源文件-->
    <script type="text/javascript" src="__UPLOAD__/plupload.full.min.js"></script>
    <script type="text/javascript" src="__UPLOAD__/upload.js"></script>
    <link rel="stylesheet" href="__UPLOAD__/css/plupload.css">
    <!--副文本资源文件-->
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/plugin.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/ueditor/lang/zh-cn/zh-cn.js"></script>
    <style>
        .pageTool{ text-align:center;}
        .pageTool ul{display:block; width:max-content; margin:0 auto;}
        .pageTool li{float:left; margin:0 10px;}
    </style>
</head>
<body width="100%">
    <div id="result" class="result none"></div>
    <div class="mainbox" id="main_vue" >
        <div class="mainnav_title" ></div>
        <div class="mainnav_title" style="position:fixed; top:0; left:0; border-bottom:0;" >
            <input type="hidden" id="mess_id" value="<?=$info['mess_id']?>">
            <input type="button" class="button" onclick="history.go(-1)" value="返回" />
            <input type="button" class="button" onclick="location=location" value="刷新页面" />
        </div>
        <div class="table-list">
            <table cellpadding=0 cellspacing=0 width="100%" class="table_form" >
                <tr>
                    <td colspan="6" style="text-align:center; background:#00b7ee; color:#ffffff;">基础信息</td>
                </tr>
                <tr>
                    <th width="140" >用户类型：</th>
                    <td><?=empty($info['author_id']) ? '游客' : $userType[$info['author_type']]['name'];?></td>
                    <th width="140" >会员id：</th>
                    <td><?=empty($info['author_id']) ? '无' : $info['author_id'];?></td>
                    <th width="140" >留言时间：</th>
                    <td><?=date('Y-m-d H:i:s',$info['add_time'])?></td>
                </tr>
                <tr>
                    <th width="140" >作者：</th>
                    <td><?=$info['author_name']?></td>
                    <th width="140" >回复状态：</th>
                    <td><?=$statusReplyList[$info['reply_status']]['name']?></td>
                    <th width="140" >回复时间：</th>
                    <td><?=empty($info['edit_time']) ? '无记录' : date('Y-m-d H:i:s',$info['edit_time']);?></td>
                </tr>
                <tr>
                    <th width="140" >联系电话：</th>
                    <td><?=$info['contant']?></td>
                    <th width="140" >QQ：</th>
                    <td><?=$info['qq']?></td>
                    <th width="140" >微信：</th>
                    <td><?=$info['wechat']?></td>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:center; background:#00b7ee; color:#ffffff;">留言内容</td>
                </tr>
                <tr>
                    <th width="140" >标题：</th>
                    <td colspan="5"><?=$info['title']?></td>
                </tr>
                <tr>
                    <th width="140" >内容：</th>
                    <td colspan="5"><?=$info['contant']?></td>
                </tr>
                <?php if( $info['author_id'] > 0 ){ ?>
                <tr>
                    <td colspan="6" style="text-align:center; background:#00b7ee; color:#ffffff;">回复记录</td>
                </tr>
                <?php foreach( $info['reply_list'] as $key => $reply ){ ?>
                <tr>
                    <th width="140"><?=date('Y-m-d H:i:s',$reply['add_time'])?></th>
                    <td colspan="5">
                        <?=empty($reply['author_id']) ? '游客' : $userType[$reply['author_type']]['name'];?>
                        <?=( $reply['author_type'] == 0 ) ? '' : '<a style="float:right; margin-right:50px; color:#FB5A5C;" href="javascript:void(0);" onclick="del_reply('.$reply['reply_id'].')" >删除</a>';?>
                    </td>
                <tr>
                    <th width="140" >内容：</th>
                    <td colspan="5"><?=$reply['content']?></td>
                </tr>
                </tr>
                <?php } ?>
                <tr>
                    <td colspan="6" style="text-align:center; background:#00b7ee; color:#ffffff;">回复编辑</td>
                </tr>
                <tr>
                    <th width="140" ></th>
                    <td colspan="6">
                        <input TYPE="button"  value="回复" class="button" onclick="reply()" />
                    </td>
                </tr>
                <tr>
                    <th width="140" ></th>
                    <td colspan="5">
                        <div id="content" style="width:90%; height:400px;"></div>
                    </td>
                </tr>
                <?php } ?>
                <tr>
                    <th width="140"></th>
                    <td  colspan="5" style="color:#FB5A5C;" >注意：非会员留言 不允许站内回复</td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        var ue = UE.getEditor('content');
        //获取文章内容内容
        function getContents() {
            var html = '';
            ue.ready(function () {
                html = ue.getContent();
            });
            return html;
        }

        function reply(){
            var mess_id = $('#mess_id').val();
            var content = getContents();
            if( content == '' ){
                layer.msg('内容不能为空', {
                    skin: 'layui-layer-huise'
                });
                return false;
            }
            $.ajax({
                url: "{:url('Message/do_reply')}?v="+Math.random(),
                type: 'post',
                dataType: 'json',
                data:{
                    'mess_id' : mess_id,
                    'content' : content
                },
                success:function (data) {
                    layer.msg(data.msg, {
                        skin: 'layui-layer-huise'
                    });
                    if(data.status){
                        setTimeout(function(){
                            location = location;
                        },1000);
                    }
                },
                error:function(e){
                    layer.msg('网络错误数据拉取失败', {
                        skin: 'layui-layer-huise'
                    });
                }
            });
            return false;
        }

        //删除
        function del_reply(reply_id){
            if( !confirm('是否确认删除') ){
                return false;
            }
            $.ajax({
                url: "{:url('Message/del_reply')}",
                type: 'post',
                dataType: 'json',
                data:{
                    'reply_id' : reply_id
                },
                success:function (data) {
                    layer.msg(data.msg, {
                        skin: 'layui-layer-huise'
                    });
                    if(data.status){
                        setTimeout(function(){
                            location = location;
                        },1000);
                    }
                },
                error:function(e){
                    layer.msg('网络错误数据拉取失败', {
                        skin: 'layui-layer-huise'
                    });
                }
            });
        }
    </script>
</body>
</html>